

button {

    border-radius: 4px;
    cursor: pointer;
}

button.blue {
    background-color: #3498db;
}

button.green {
    background-color: #2ecc71;
}

button.red {
   background-color: orangered;
}

.icon {
  height: 50px;
  margin-right: 10px;
}

div[id^="download"] {
  display: none;
}

div[id^="formulaError"] {
    display: none;
}

